
html.light,html.light body{
  background-color: #FFFFFF!important;
  transition: all 500ms!important;
}

html.medium,html.medium body{
  background-color: #EFEFEF!important;
  transition: all 500ms!important;
}

html.dark,html.dark body{
  background-color: #15202B!important;
  transition: all 500ms!important;
}

html.gOne,html.gOne body{
  background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%)!important;
  transition: all 500ms!important;
}
html.gTwo,html.gOne body{
  background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%)!important;
  background-blend-mode: soft-light, screen, darken, normal!important;
}

html.gThree,html.gThree body{
  background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%)!important;
  background-blend-mode: overlay, overlay, normal!important;
}


body{
  /* background-color: aqua !important; */
}
/* .App{
  min-height: 100vh; 
  max-width: 1200px; 
  margin: auto;
  padding: 10px 10px; 
} */




/*

.showTask div.head{
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
}

.showTask div.head div{
  flex-grow: 1;
}

.showTask .title{
  font-size: 18px;
  font-weight: 600;
  user-select: none;
}

.showTask .count{
  background-color: #dfdfdf;
  color: #525252;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: 10px;
  user-select: none;
}

.showTask .clearAll{
  background-color: #0f6af3;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  font-size: 16px;
}

.showTask .clearAll:hover{
  background-color: #1061db;
} */

/* .showTask ul{
  margin: 30px 5px 20px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.showTask li{
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  gap: 5px;
  width: 350px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  border-left: 5px solid #1365dfaf;
}

.showTask li:hover{
  background-color: #f8f8f8;
}

.showTask li p{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.showTask li .name{
  font-size: 18px;
  padding-bottom: 5px;
}

.showTask li .time{
  font-size: 12px;
  color: #737373;
}

.showTask i.bi-pencil-square{
  font-size: 18px;
  color: #1363DF;
  cursor: pointer;
}

.showTask i.bi-trash{
  font-size: 18px;
  color: #D82148;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .showTask li{
    width: 100%;
  }
} */